{{#extends 'base'}}

{{#block 'content'}}
<h1>Hit me with moar countries</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="来来 populate me" class="btn btn-dark"/>
</form>
{{/block}}

{{/extends}}

