{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        {{!-- <h1>Take note and be sure to add country ID according to the last displayed ID</h1> --}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Continent</th>
        </tr>

    </thead>
    <tbody>
        {{#each country}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.country_title}}
                </td>
                <td>
                    {{this.continent}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}
