{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Country la: {{country.title}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update Country" class="btn btn-dark"/>
</form>
{{/block}}

{{/extends}}