{{#extends 'base'}}

{{#block 'content'}}
<h1>HOLA AMIGO!</h1>
<h2>Why my images not loading ah</h2>
<div id="landingImage" style="display: none">
    <img class="someClass" src="organik.jpeg">
</div>
{{/block}}

{{/extends}}

